@import '../../../assets/styles/common/variables';

.footer {
  display: flex;
  flex-wrap: wrap;
  gap: $padding_default;
  margin-bottom: $padding_default;
  justify-content: space-between;
}

.nav_block {
  background-color: $light_dark_color;
  border-radius: 1.875rem;
  width: 680px;
  max-height: 260px;
  padding: $padding_default;
}

.footer_navigation {
  margin-top: $padding_default;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 8rem;
}

.heading-default {
  font-size: $m;
  font-weight: 800;
  margin-bottom: 0.875rem;
}

.footer_navigation_list {
  display: flex;
  flex-direction: column;
  gap: $padding_default;
}
