@import '../../../../../assets/styles/common/variables';

.categories_button_list {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin-top: 10px;
  margin-bottom: 32px;
}

.categories_book_list {
  display: flex;
  flex-wrap: wrap;
  gap: $padding_default;
}
