@import '../../../assets/styles/common/variables';

.search_bar {
  display: flex;
  align-items: center;

  gap: 14px;
  width: 480px;
  height: 42px;
  min-width: 380px;
  padding: 12px 20px;
  border-radius: 6.25rem;
}

.search_bar_icon {
  cursor: pointer;
  stroke: $grey_color;
}

.search_bar-dark .search_bar_icon.active {
  stroke: white;
}

.search_bar-default .search_bar_icon.active {
  stroke: $dark_color;
}

#search_bar_input {
  width: 95%;
}

#search_bar_input::placeholder {
  color: $grey_color;
  font-size: $xxs;
  transition: color $transition;
}

.search_bar-dark {
  background-color: $light_dark_color;
}

.search_bar-default {
  background-color: white;
}

.search_bar-dark #search_bar_input:focus::placeholder {
  color: white;
}

.search_bar-default #search_bar_input:focus::placeholder {
  color: $dark_color;
}

.search_bar-default #search_bar_input {
  color: $dark_color;
}
