@import '../../../../../assets/styles/common/variables';

.about {
  margin: 120px 0 120px 0;
}

.about_card_list {
  display: flex;
  gap: $padding_default;
}

.about_heading {
  margin-bottom: 2rem;
}
