@import '../../../assets/styles/common/variables';

.card {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-between;

  width: calc((100% - 2 * $padding_default) / 3);
  height: 240px;
  padding: $padding_default;
  border-radius: 1.25rem;

  background-color: $light_dark_color;
  color: $grey_color;

  transition: all $transition;
}

.card:hover {
  background-color: $accent_color;
  scale: 1.01;
  color: white;
  stroke: white;
}

.card:focus {
  box-shadow: 0 0 0 2px $accent_color;
}

.card_text_container {
  display: flex;
  flex-direction: column;
  gap: $padding_default;

  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.text_container_text {
  font-size: $xs;
  font-weight: 500;
}

.more_button {
  display: flex;
  align-items: center;
  justify-content: center;

  height: 32px;
  width: 32px;
  background-color: $grey_color;
  border-radius: 100px;

  transition: all $transition;
  cursor: pointer;
}

.more_icon-default {
  stroke: $light_dark_color;
}

.card:hover .more_button {
  background-color: white;
}

.card:hover .more_icon-default {
  stroke: $accent_color;
}
