@import './variables';

/* global */
html {
  font-family: Arial, Helvetica, sans-serif;
  background-color: $dark_color;
  font-size: $xxs;
  color: white;
}

.container {
  width: 1200px;
  padding: 0 0.625rem;
  margin: $margin_center;
}

/* headings */

.heading-h1 {
  font-size: $xl;
  font-weight: bold;
}

.heading-h2 {
  font-size: $l;
  font-weight: bold;
}

.heading-h3 {
  font-size: $m;
  font-weight: bold;
}

.heading-h4 {
  font-size: $s;
  font-weight: bold;
}
