// colors variables
$accent_color: #4684f7;
$dark_color: #151419;
$light_dark_color: #1e1e1e;
$grey_color: #828282;

// text variables
$xxl: 96px;
$xl: 59px;
$l: 37px;
$m: 23px;
$s: 18px;
$xs: 16px;
$xxs: 14px;

// padding, margin variables
$padding_default: 20px;
$margin_center: 0 auto;

$transition: 0.2s ease-in-out;
