@import '../../../assets/styles/common/variables';

.switcher {
  padding: 8px 14px;
  border-radius: 6.25rem;

  transition: all 0.2s ease-in-out;
}

.switcher-default {
  background-color: white;
  color: $grey_color;
}

.switcher-active {
  background-color: $accent_color;
  color: white;
}
