@import '../../../../../assets/styles/common/variables';

.hero {
  margin: 140px 0;
}

.hero_wrapper {
  max-width: 41.5rem;
  margin: $margin_center;
}

.hero_text_container {
  margin-bottom: 1.5rem;
  text-align: center;
}

.hero_subheading {
  color: $accent_color;
}

.hero_search_container {
  display: flex;
  justify-content: space-between;
  gap: 10px;
}

.hero_search_button {
  width: 90px;
}
