@import '../../../assets/styles/common/variables';

.button {
  padding: 8px 14px;
  border-radius: 6.25rem;

  transition: all 0.2s ease-in-out;
}

.button-default {
  color: $grey_color;
}

.button-active {
  background-color: $accent_color;
  color: white;
}

.button-white {
  background-color: white;
  color: $grey_color;
}

.button-white:hover {
  background-color: $accent_color;
  color: white;
}
